body{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main-image{
  height: 10vh;
  width: 10vw;
  background-image: url('');
  grid-column: 1/3;
  grid-row: 1/4;
}
